apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  ports:
  - port: 5432
  selector:
    app: postgres
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:9.6.23-buster
        env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: POSTGRES_PASSWORD
        - name: POSTGRES_USER
          value: "challenge"
        - name: POSTGRES_DB
          value: "challenge"
        ports:
        - containerPort: 5432
        readinessProbe:
          exec:
            command:
            - pg_isready
            - -U
            - challenge
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: challenge
spec:
  type: NodePort
  ports:
  - port: 10000
    nodePort: 30000
  selector:
    app: challenge
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: challenge
spec:
  replicas: 1
  selector:
    matchLabels:
      app: challenge
  template:
    metadata:
      labels:
        app: challenge
    spec:
      initContainers:
      - name: wait-for-postgres
        image: busybox:1.28
        command: ['sh', '-c', 'until nc -z postgres 5432; do echo waiting for postgres; sleep 2; done;']
      containers:
      - name: challenge
        image: devsecops-junior-challenge-go:local
        imagePullPolicy: Never
        env:
        - name: POSTGRES_HOST
          value: "postgres"
        - name: POSTGRES_USER
          value: "challenge"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          value: "challenge"
        - name: TLS_CERT_FILE
          value: "/etc/ssl/certs/cert.pem"
        - name: TLS_KEY_FILE
          value: "/etc/ssl/private/key.pem"
        ports:
        - containerPort: 10000
        volumeMounts:
        - name: certs
          mountPath: /etc/ssl/certs/cert.pem
          subPath: cert.pem
          readOnly: true
        - name: certs
          mountPath: /etc/ssl/private/key.pem
          subPath: key.pem
          readOnly: true
      volumes:
      - name: certs
        secret:
          secretName: challenge-certs
